@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
}



body {
    padding: 30px;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container__h1 {
    font-size: 1rem;
    font-weight: 600;
}

.div__h3 {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.container__h3 {
    font-size: 1rem;
    font-weight: 400;
    background-color: rgba(149, 177, 228, .5);
    padding: 0 0.2rem;
    border-radius: 5px;
}

.h3-b {
    width: 161px;
}

.container__p {
    position: absolute;
    bottom: 2rem;
    width: 200px;
    text-align: center;
    font-weight: 300;
    font-size: 0.7rem;
}

.btn {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin: 20px;
    background-color: rgb(46, 60, 92);
    font-size: 1rem;
    font-weight: 500;
    color: rgb(238, 243, 252);
    cursor: pointer;

    transition: scale .1s ease;
}

.btn:hover {
    background-color: rgb(63, 71, 88);
    cursor: pointer;
}
